body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FCF6F5FF;
}

#drum-machine {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: rgb(158, 23, 39);
}

#display {
    color: rgb(158, 23, 39);
    text-align: center;
    margin: 30px;
    margin-bottom: 10px;
    height: 50px;
    padding-bottom: 9px;
    background-color: white;
}

#key-pad {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.drum-pad {
    color: rgb(158, 23, 39);
    width: 100px;
    height: 100px;
    font-size: xx-large;
    font-weight: 700;
    margin: 10px;
    background-color: white;
    border: 0;
    outline: none;
}

#a:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#b:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#c:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#d:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#e:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#f:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#g:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#h:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

#i:active {
    height: 95px;
    width: 95px;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

@media screen and (max-width: 400px) {
    .drum-pad {
        margin: 0px;
    }
}

@media screen and (max-width: 320px) {
    .drum-pad {
        width: 80px;
        height: 80px;
        margin: 0px;
    }
}
